@charset "utf-8";
/* CSS Document */
html, body {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    background: #FFFFFF;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 980px;
    /*min-width: 1020px;*/
    color:#000;
}
#header {
	text-align: left;
	padding: 10px 10px 0 10px;
	clear: both;
	background-image: url("/img/h_back.png");
	background-color: #1C1C1C;
	background-repeat: repeat-y;
	height: 85px;
}

#mainContent {
	clear: both;
	background-color: #FFF;
	overflow: hidden;
	text-align: left;
	font: 1.083em/1.54em Verdana, sans-serif;
}

#leftBlock {
    float: left;
    background-color: #5F5F5F;
    width: 200px;
    font-size: 11px;
    padding: 0 10px 50px;
    color: #FFF;
}
#rightMainContent {
    /*float: left;*/
    margin-left: 220px;
    background-color: #FFF;
    padding: 10px 20px 50px 20px;
    _margin-right: -3px; /* IE6 */
}

#menucover {
    background-color: #5F5F5F;
    width: 220px;
    height: 16px;
    margin: 0 4px 0 0;
}


#footer {
    background-color: #F0F0E7;
	clear: both;
	padding-top: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	zoom: 1;
}

#subright {
    float: right;
    background-color: #909ba4;
    border-bottom: 3px solid #ffb343;
    height: 40px;
}
#find {
	background-color: #fff;
	border: 1px solid #dedede;
	margin: 10px 10px 8px 10px;
	width: 300px;
    border-top: 2px solid #AAA;
}
#in_find {
    background-color: transparent;
	border: 0px none;
	color: #000;
	font-size: 11px;
	height: 16px;
	width: 220px;
}
#but_find {
	background: url("/img/find.png") no-repeat left center;
	background-color: transparent;
	border: 0px none;
	height: 16px;
	width: 70px;
	color: #000;
	padding-left: 20px;
	font-size: 11px;
}
#form_find {
	padding: 0;
	margin: 0;
}


#menu {
	font-weight: bold;
}

#submenu {
	text-align: left;
	width: 100%;
	overflow: hidden;
}
#cat {
    border-bottom: 3px solid #ffb343;
    background-color: #909ba4;
    height: 25px;
    overflow: hidden;
    padding-left: 6px;
    _margin-left: -3px; /* IE6 */
}

.a_submenu { text-decoration: underline; outline: none; }
.a_submenu:hover { color: #f9e6d0; text-decoration: underline; }

.a_catmenu, .a_catmenu:hover, #a_catmenu_sel, #a_catmenu_sel:hover{
	font-size: 11px;
    font-weight: bold;
	text-decoration: none;
	outline: 0;
	color: #000000;
}

.catmenu, .catmenu:hover, #catmenu_sel, #catmenu_sel:hover {
	padding: 3px 10px 5px;
    margin-top: 4px;
	margin-right: 6px;
    float: left;
}
	
.catmenu, .catmenu:hover {
	background: #5F5F5F;
    color: #FFF;
}

.catmenu:hover {
	background: #780000;
}

#catmenu_sel, #catmenu_sel:hover {
	background: #FFF;
}

.aleft {
    color: #FFF;
    text-decoration: none;
}
.aleft:hover {
    text-decoration: underline;
}

input[type="text"] {
    border-color: #AAAAAA #DDDDDD #DDDDDD;
    background-color: #F4F4F4;
    border-style: solid;
    border-width: 1px;
}
textarea {
    border-color: #AAAAAA #DDDDDD #DDDDDD;
    background-color: #F4F4F4;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 100px;
}
input[type="password"] {
    border-color: #AAAAAA #DDDDDD #DDDDDD;
    background-color: #F4F4F4;
    border-style: solid;
    border-width: 1px;
}
select {
    border-color: #AAAAAA #DDDDDD #DDDDDD;
    background-color: #F4F4F4;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
}

p {
    padding: 0;
    margin: 2px 0;
}

a { color: #048; text-decoration: underline }

.sub {
    -moz-border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #5F5F5F;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #FFF;
    display: block;
    padding: 1px 7px;
    position: relative;
    text-align: left;
    font-size: 11px;
}
.sub>a {
    color: #FFF;
}

.sel {
    -moz-border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: #000000;
    display: block;
    font-size: 11px;
    line-height: 15px;
    padding: 3px 7px;
    position: relative;
    text-align: left;
    overflow: hidden;
    text-decoration: none;
}

.obj {
    font-size: 11px;
    width: 90%;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    background-color: #F7F7F1;
    border: 1px solid #BBB;
    padding: 7px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: left;
    line-height: 14px;
}

#fm {
    width: 200px;
    height: 300px;
    overflow: auto;
    margin-right: 20px;
    padding: 10px;
}

.adv {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    padding: 5px 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.subadv {
    color: #777;
}

.info {
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 1px 3px rgba(156, 181, 202, 1.8);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(156, 181, 202, 1.8);
    -webkit-border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 0 1px 3px rgba(156, 181, 202, 1.8);
    background-color: #e4eeff;
    font-size: 11px;
    margin: 5px 20px 5px 5px;
    padding: 5px 10px;
}

#sday, #fday {	height: 16px; width: 18px; font-size: 12px; margin-right: 5px; }
#smonth, #fmonth, #month { height: 21px; width: 85px; font-size: 12px; margin-right: 5px; background-color: #E0EBEA; border: 1px solid #A0A0A0; }
#syear, #fyear { height: 16px; width: 34px; font-size: 12px; margin-right: 5px; }
#sbut, #fbut { border: 1px solid #ccc; height: 16px; width: 84px; text-align: center; font-size: 11px }

.pager_li {
	float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 20px 3px;
}
#pager_ul, #pagerAjax_ul {
	clear: both;
	line-height: 100%;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0;
    height: 60px;
}
a.pager { color: #0066CC; text-decoration: none; }
.pager_utext {
	padding: 5px;
	color: #000;
}
.pager_arr {
	padding: 3px 0;
    margin: 0 10px;
}
.pager_text {
    background-color: #EBF2FF;
    border: 1px solid #0066CC;
    padding: 4px 6px;
}

.caltd {
    vertical-align: top;
}
.subtd {
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
}

.blockbd {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    padding: 10px 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.task {
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 1px 3px rgba(156, 181, 202, 1.8);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(156, 181, 202, 1.8);
    -webkit-border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 0 1px 3px rgba(156, 181, 202, 1.8);
    background-color: #e4eeff;
    padding: 2px 10px;
    margin: 5px 0 0 0;
    float: left;
}